@page "/polls"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-sm-3">
        <form method="post">
            <label for="Name" class="form-label">Name</label>
            <input class="form-control form-control-sm mb-1" type="text" name="Name" />

            <label for="Question" class="form-label">Question</label>
            <input class="form-control form-control-sm mb-1" type="text" name="Question" />
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-1 btn" type="submit">Add new Poll</button>
            </div>
        </form>
    </div>

    <div class="col-sm-9">
        <table class="table table-striped table-sm" style="border-collapse:separate;border-spacing:0.5em;">
            <thead class="fw-bold table-primary">
                <tr>
                    <td width="30%">Title</td>
                    <td>Question</td>
                    <td>Answers</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var poll in Model.Polls)
                {
                    <tr>
                        <td>
                            <input class="form-control form-control-sm" value="@poll.Name" />
                            <form method="post">
                                <div class="mb-2">
                                    <input name="pollId" type="hidden" value="@poll.Id" />
                                </div>
                                <button asp-page-handler="DeletePoll" type="submit" class="me-2 btn btn-sm btn-secondary">Update Poll</button>
                                <button asp-page-handler="DeletePoll" type="submit" class="me-2 btn btn-sm btn-danger">Remove Poll</button>
                            </form>
                        </td>
                        <td><input class="form-control form-control-sm" value="@poll.Question" /></td>
                        <td>
                            @foreach (var answer in @poll.Answers)
                            {
                                <form method="post" class="mb-3">
                                    <input name="answerId" type="hidden" value="@answer.Id" />

                                    <div class="d-flex flex-row-reverse bd-highlight">
                                        <button asp-page-handler="DeleteAnswer" type="submit" class="btn btn-sm btn-danger">remove</button>
                                        <input name="answerText" class="form-control form-control-sm mb-1" value="@answer.AnswerText" />
                                    </div>

                                    <button asp-page-handler="UpdateAnswer" type="submit" class="btn btn-sm btn-secondary">Update</button>
                                </form>
                            }
                            <form method="post">
                                <input name="pollId" type="hidden" value="@poll.Id" />
                                <input name="answer" class="form-control form-control-sm mb-1" placeholder="Type a new answer..." />
                                <button asp-page-handler="Answer" type="submit" class="btn btn-sm btn-success">Add new Answer</button>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


