@page "/polls"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-sm-3">
        <form method="post">
            <label for="Name" class="form-label">Name</label>
            <input class="form-control form-control-sm mb-1" type="text" name="Name" />

            <label for="Question" class="form-label">Question</label>
            <input class="form-control form-control-sm mb-1" type="text" name="Question" />
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-1 btn" type="submit">Add new Poll</button>
            </div>
        </form>
    </div>

    <div class="col-sm-9">
        <table class="table table-hover table-striped table-sm">
            <thead class="fw-bold table-primary">
                <tr>
                    <td width="30%">Title</td>
                    <td>Question</td>
                    <td>Answers</td>
                    <td>Votes</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var poll in Model.Polls)
                {
                    <tr class='clickable-row' data-href='#'>
                        <td>@poll.Name</td>
                        <td>@poll.Question</td>
                        <td>
                            @foreach (var answer in @poll.Answers)
                            {
                                <input class="form-control form-control-sm mb-1" value="@answer.AnswerText" />
                                <form method="post">
                                    <input name="answerId" type="hidden" value="@answer.Id" />
                                    <button asp-page-handler="DeleteAnswer" type="submit" class="btn btn-primary">Remove</button>
                                </form>
                            }
                            <form method="post">
                                <input name="pollId" type="hidden" value="@poll.Id" />
                                <input name="answer" class="form-control form-control-sm mb-1" placeholder="Type a new answer..." />
                                <button asp-page-handler="Answer" type="submit" class="btn btn-primary">Add</button>
                            </form>

                        </td>
                        <td>@poll.Votes?.Count</td>
                        <td align="right">
                            <form method="post">
                                <input name="pollId" type="hidden" value="@poll.Id" />
                                <button asp-page-handler="DeletePoll" type="submit" class="btn btn-primary">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


